@import '../../../variables';

.container {
  height: 100%;
}
.titulo {
  text-align: center;
  color: $color-primary;
  font-size: x-large;
  display: flex;
  align-items: center;

  align-content: center;
  justify-content: center;
}
