<app-scroll-top></app-scroll-top>
<div class="spinner" *ngIf="loading"></div>
  <mat-card class="contenedor">
    <div class="back">
      <div  *ngIf="orden !== undefined">
        <mat-card-title style="font-size: medium;">{{orden.nombreCliente}}</mat-card-title>
        <mat-card-subtitle>Orden: {{orden.id}}</mat-card-subtitle>
      </div>
      <button color="primary" mat-raised-button routerLink="/ordenes">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
    </div>
    <div class="tab">

      <div class="toolbar">
        <div  [ngClass]="{'activeTab': !productTab}"  (click)="productTab=false">
          <mat-icon>form</mat-icon>
          Formulario
        </div>
        <div  [ngClass]="{'activeTab':productTab}" (click)="productTab=true">
          <mat-icon>form</mat-icon>
          Productos
        </div>
      </div>
      <div class="productTab" *ngIf="productTab">
        <mat-card>
          <div *ngFor="let producto of productosOrden">
            <app-productos-orden [productoOrden]="producto"></app-productos-orden>
          </div>

        </mat-card>
        <mat-card *ngIf="orden !== undefined">
          <div class=" gridMontos">

            <div class="gridItem">
              <p>Subtotal:</p>
            </div>
            <div class="gridItem number" >
              <p> {{this.orden.monto | currency}}</p>
            </div>
            <div class="gridItem ">
              Delivery:
            </div>
            <div class="gridItem number">
              {{this.orden.precioDelivery | currency}}
            </div>
            <div class="gridItem ">
              Total: RD
            </div>
            <div class="gridItem number" style="border-top: lightgray 1px solid;">
              <strong>{{this.orden.montoTotal | currency}}</strong>
            </div>

          </div>

        </mat-card>
      </div>
      <div class="formTab" *ngIf="productTab === false">
        <div *ngIf="orden !== undefined">
          <app-orden-form
            [edit]="true"
            [ordenId]="ordenId"
            [orden]="orden"
            (validSumit)="PutOrden($event)"
          ></app-orden-form>
        </div>
      </div>

    </div>

  </mat-card>



