@import '../../../variables';
.row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;

}


.gridMontos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3;
}
.gridItem {
  height: 25px;
  margin: 2px;
  padding: 2px;
  text-justify: distribute;

}
.toolbar {
  margin: 20px;
  display: flex;
  gap: 20px;
  width: 100%;
  div {
    padding: 10px;
    justify-content: center;
    width: 40%;

  }

}
.activeTab {
  border-bottom: 2px solid $color-primary;
  color: $color-primary;

}
