.row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;

}


.gridMontos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3;
}
.gridItem {
  height: 25px;
  margin: 2px;
  padding: 2px;
  text-justify: distribute;

}
