@import '../../../variables';
img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 5px;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.descripcion {
  font-size: large;
  margin: 0;
  padding: 0;
}
.cantidad {
  font-size: large;
  margin: 0;
  padding: 0;
}

.precio {
  font-size: small;
  margin: 0;
  padding: 0;
}
.kpi {
  font-size: medium;
  width: 100%;
}
.contenedor {
  padding: 15px;
  // border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.data {
  width: 100%;
}
.warn {
  color: $color-warn;
}
