
<div class="row contenedor">



    <div class="col-4">
        <img [src]="productoOrdenPendientes.imgUrl">
        <p class="kpi row">{{productoOrdenPendientes.descripcion}} </p>
        <p class="kpi row">Total: <strong>{{productoOrdenPendientes.cantidad}}</strong> </p>
        <p class="kpi warn" *ngIf="productoOrdenPendientes.vencida > 0">Expired: {{productoOrdenPendientes.vencida}}</p>

    </div>
    <div class="col-8 data">

        <div class="col-12">

              <p class="kpi row">Today: <strong>{{productoOrdenPendientes.hoy}}</strong></p>
              <p class="kpi row"> Tomorrow: <strong>{{productoOrdenPendientes.manana}}</strong></p>
              <p class="kpi row">{{Day(2) | date: 'EEEE'}}: <strong>{{productoOrdenPendientes.pasadoManana}}</strong> </p>


        </div>
        <div class="col-12">

          <p class="kpi row">{{Day(3) | date: 'EEEE'}}:     <strong>{{productoOrdenPendientes.tresDias}}</strong> </p>
          <p class="kpi row">{{Day(4) | date: 'EEEE'}}:  <strong>{{productoOrdenPendientes.cuatroDias}}</strong> </p>
          <p class="kpi row">{{Day(5) | date: 'EEEE'}}+:  <strong>{{productoOrdenPendientes.cincoOMasDias}}</strong> </p>
        </div>




    </div>


</div>
