@import '../../../../variables';

.container {
  min-height: 80vh;
  padding-bottom: 150px;
  // overflow: scroll;

}
.tableContainer {
  width: 100%;
}
table {
  width: 100%;

}
.titulo {
  text-align: center;
  color: $color-primary;
  font-size: x-large;
  display: flex;
  align-items: center;

  align-content: center;
  justify-content: center;
}
.tableOrdenes {
  width: 100%;
  margin: 10px;
}

.chip {
  display: inline-block;
  padding: 0px 15px;

  // padding-bottom: 5px;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  font-size: 14px;
  line-height: 40px;
  border-radius: 25px;
  color: white;

}
.pendiente {
  background-color: salmon;

}
.proceso {
  background-color: orange
}
.listo {
  background-color: #8fa382;
  // color: #8fa382;
}
.entregado {
  background-color: #8fa382;
  // color: #8fa382;
  // color: #8fa382;
}

.delete-btn {
  font-size: x-large;
  color: grey;
  &:hover {
    color: $color-accent;
    cursor: pointer;
  }
}

.estado {
  text-align: center;
  height: 100%;
  // margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.checkbox {
  text-align: center;
  float: left;
  margin-right: 10px;
  // display: flex;
  // justify-content: flex-start;
  // align-items: center;

}
.pagada_data {
  margin: auto;
  text-align: center;
}
.icon_pagada {
  font-size: medium;
}
