<div class="cover">
  <div class="btn">
    <button mat-raised-button routerLink="/tienda"  color="primary"> <div class="btn-order">
      READY TO ORDER ?
    </div> </button>
  </div>
</div>

<div class="about">
  <img src="../../../assets/sweetKeto_logoRedondo.jpeg" alt="Logo Redondo">
  <h1>Homemade Bakery</h1>
  <p> Somos dos hermanas que iniciamos la Dieta Keto hace
    1 año, buscando no solo nuestro “peso ideal” sino también
    cambiar nuestro estilo de vida.</p>
  <p> Somos resposteras aficionadas que, en la búsqueda de
    satisfacer ese craving for something sweet, hacer postres
    se volvió nuestra pasión.</p>
  <p> Sweet & Keto surge con la idea de ofrecer a los
    consumidores productos libres de harinas y azúcar,con la
    mejor calidad del mercado, todo hecho en casa .</p>
</div>
