@import '../../../variables';
@import './producto-card-mobile.scss';

@media (min-width: $breakpoint-mobile) {
  .card {
    width: 300px;
    height: 400px;
    padding: 0;
    margin: 10px;
    border-radius: 3px;
    margin: 25px;



  }
  .imgFrame {
    height: 200px;
    object-fit: contain;
  }
  .contenido {
    padding: 10px;
    display: grid;
    // grid-template-rows: 50px 40px;
  }

}



.titulo {
  margin: 0px;
  padding: 10px;
  width: 100%;
  font-size: medium;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: wrap;

}
.precio {
  margin: 0px;
  padding: 10px;
}

img {
  object-fit: cover;
  background-color: lightgrey;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
  height: 100%;
  }




.btn{
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.btn-pick {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  width: 80%;
  height: 35px;
  border-radius: 20PX;
  border: $color-primary solid 1px;

}

.btn {

  &:hover {
    cursor: pointer;
  }
}

.btn {
  width: 100%;
}

.icon-select {
  width: 30%;
  margin-bottom: 10px;

}


.macros {
  display: flex;
  justify-content: space-evenly;
}
.macro {
  background-color: $color-primary-ligth;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  font-size: 14px;
  text-align: center;
  padding: 3px;
  color: $color-primary-dark;


  small {
    display: block;
    text-align: center;
  }

}

.btn_info {
  color: $color-primary;
  margin-left: 10px;
  position: relative;
  display: inline;

}

.info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding:0px 10px;
}
