<mat-card class="card" (click)="AddProducto()">
  <!-- Imagen -->
  <div class="imgFrame">
    <img [src]="this.producto.imgUrl" />

  </div>
  <div class="contenido">
    <h3 class="titulo cut-text">{{ producto.descripcion }}</h3>
    <h4 class="precio">
      <strong> RD$ {{ producto.precio }}</strong>
    </h4>

    <!-- <div >
        <button class="pick-btn" mat-stroked-button color="primary">-</button>
        <mat-form-field  class="pick-btn" >
        <input  matInput type="number" class="pick-btn" [(ngModel)]="cantidad" >
        </mat-form-field>
        <button class="pick-btn" mat-stroked-button color="primary">+</button>
      </div> -->

    <!-- <div class="btn" style="display: none;">
        <div class="btn-pick" color="primary" mat-raise-button>
          <div  class="btn act flex-row center" (click)="RestaProducto()">-</div>
          <div class="act">
            <span > {{CantidadInCart()}}</span>
          </div>
          <div mat-button class="btn act" (click)="AddProducto()">+</div>
        </div>
      </div> -->
    <!-- <div class="col-12">

        <button mat-raised-button (click)="AddProducto()" style="width: 100%;">
          <mat-icon color="accent">shopping_cart</mat-icon>
          Agregar al carrito
        </button>

    </div> -->


    <!-- <button mat-stroked-button (click)="AddProducto()">
      <span *ngIf="CantidadInCart() > 0">({{ CantidadInCart() }})</span>
      Agregar
    </button> -->
    <div class="info">
      <button mat-icon-button>
      <mat-icon matSuffix  (click)="openDialogInfo()"class="btn_info">info</mat-icon>
      </button>
      <span *ngIf="CantidadInCart() > 0">({{ CantidadInCart() }})</span>
    </div>

    <!-- <button  class="m-1" mat-stroked-button routerLink="/carrito">Comprar ahora</button> -->
  </div>

  <!-- <button mat-icon-button>
    <mat-icon>delete_outline</mat-icon>
  </button> -->
</mat-card>
