@import '../../../variables';
.card {
  width: 100%;
  max-width: 600px;
  // height: 500px;
  padding: 0;
  margin: 10px;
  border-radius: 3px;
  &:hover {
    // background-color: #ccc;
  }
  @media (max-width: $breakpoint-mobile) {
        // height: 400px;
    }
}

.imgFrame {
  height: 50%;
  background-color: lightpink;
  object-fit: contain;
}

.contenido {
  padding: 5px;
  // background-color: $color-primary;
  display: grid;
  grid-template-rows: 55px 40px 40px;
}

.titulo {
  margin: 0px;
  width: 100%;
  line-height: 20px;
  margin-left: 5px;
  // letter-spacing: 1px;
   // overflow: hidden;
    // width: 100px;
    // height: 1.2em;
    // white-space: nowrap;
    // display: inline;
}
.precio {
  margin: 5px;
}

img {
  object-fit: cover;
  background-color: lightgrey;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: 100%;
  height: 140px;
  // position: block;
  // display: inline;


  // // Mobile
  // @media (max-width: $breakpoint-mobile) {
  //     width: 100%;
  //     height: 150px;
  // }

  //   // Web
  //   @media (min-width: $breakpoint-desktop) {
  //       width: 100%;
  //       height: 250px;
  //   }


  }




.btn{
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.btn-pick {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  width: 80%;
  height: 35px;
  border-radius: 20PX;
  // border: #8fa382 solid 1px;
  border: $color-primary solid 1px;
  // background-color: pink;

}

.btn {

  &:hover {
    cursor: pointer;
  }
}
// .act {
//   display: flex;
//   justify-content: center;
//   text-align: center;
//   align-items: center;
//   color: $color-primary;
//   width: 33%;
//   height: 100%;
//   font-size: 1.1rem;
// }
.btn {
  width: 100%;
}

.icon-select {
  width: 30%;
  margin-bottom: 10px;
  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}
// .descripcion {
//   font-size: 3rem;
// }

.macros {
  display: flex;
  justify-content: space-evenly;
}
.macro {
  background-color: $color-primary-ligth;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  font-size: 14px;
  text-align: center;

  padding: 3px;
  color: $color-primary-dark;


  small {
    display: block;
    text-align: center;
  }

}

.btn_info {
  color: $color-primary;
  margin-left: 10px;
  position: relative;
  display: inline;

}
