$breakpoint-tablet: 768px;
$breakpoint-mobile: 600px;
.container {
  height: 100vh;
}
// Web
@media (min-width: $breakpoint-tablet) {
  .listProduct {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .producto {
    width: 30%;
    margin: 5px;
  }

}
// Tablet
@media (max-width: $breakpoint-tablet) {
  .listProduct {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .producto {
    width: 50%;
    margin: 5px;
  }

}
// Mobile
@media (max-width: $breakpoint-mobile) {
  .listProduct {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .producto {
    width: 100%;
    margin: 10px;

  }

}



