$breakpoint-tablet: 768px;
$breakpoint-mobile: 600px;
.container {
  height: 100vh;
}

@media (min-width: $breakpoint-tablet) {
  .listProduct {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .producto {
    width: 30%;
    margin: 5px;
  }

}

@media (max-width: $breakpoint-tablet) {
  .listProduct {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .producto {
    width: 45%;
    margin: 5px;
  }

}



