@import '../../../variables';

.titulo {
  text-align: center;
  color: $color-primary;
  font-size: x-large;
  display: flex;
  align-items: center;

  align-content: center;
  justify-content: center;
}
.contenedor {
  height: 100vh;
  width: 100%;
  overflow: scroll;
  padding-bottom: 100px;



}
.productos {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  // gap: 10px;
}
// Web
// @media (min-width: $breakpoint-tablet) {
//   .listProduct {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//   }
//   .producto {
//     width: 25%;
//     margin: 5px;
//   }

// }
// // Tablet
// @media (max-width: $breakpoint-tablet) {
//   .listProduct {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//   }
//   .producto {
//     width: 50%;
//     margin: 5px;
//   }

// }
// // Mobile
// @media (max-width: $breakpoint-mobile) {
//   .listProduct {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//   }
//   .producto {
//     width: 100%;
//     margin: 10px;

//   }

// }



