<mat-card class="container-fluid">
  <mat-card-title>
    Tienda
  </mat-card-title>
  <mat-card-content>
    <div class="listProduct row">
      <div *ngFor="let producto of productos" class="col-6 col-md-4 col-xl-3">

        <app-producto-card [producto]="producto" ></app-producto-card>

      </div>

      <!-- <h5>
        Items In Cart {{cartService.ItemsInCart()}}
      </h5>
      <h5>
        Amount {{cartService.AmountInCart()}}
      </h5> -->
    </div>
  </mat-card-content>
</mat-card>


