<mat-card class="contenedor">
  <mat-card-title class="titulo">
    <mat-icon fontSet="material-icons-outlined" matPrefix >storefront</mat-icon>
    <span>Tienda</span>
  </mat-card-title>
  <mat-card-content>
    <div class="productos">
      <div *ngFor="let producto of productos" >

        <app-producto-card [producto]="producto" ></app-producto-card>

      </div>

      <!-- <h5>
        Items In Cart {{cartService.ItemsInCart()}}
      </h5>
      <h5>
        Amount {{cartService.AmountInCart()}}
      </h5> -->
    </div>
  </mat-card-content>

</mat-card>



