<div class="contenedor">



  <div class="mobile_nav">
    <button mat-button routerLink="/tienda">
      <mat-icon [class.active]="this.currentUrl === '/tienda' ">storefront</mat-icon>
    </button>
    <button  mat-button routerLink="/carrito" outline >
      <mat-icon [class.active]="this.currentUrl === '/carrito' "  fontSet="material-icons-outlined">shopping_cart</mat-icon>
    </button>
    <button mat-button routerLink="/login" outline>
      <mat-icon [class.active]="this.currentUrl === '/login' " fontSet="material-icons-outlined">account_circle</mat-icon>
    </button>
  </div>



</div>
