@import '../../../variables';
.mobile_nav {
  display: flex;
  justify-content: stretch;
  justify-items: stretch;
  gap: 20px;
  height: 50px;
  width: calc(100% - 20px);
  margin: 10px;
  border: 1px solid lightgrey;
  box-shadow: 1px 2px grey;
  border-radius: 5px;
  background-color: white;
  // opacity: 0.5;
}
.contenedor {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;

}
button{
  width: 100%;

}
.active {
  color: $color-primary;
  // border-top: 1px solid $color-primary;
}
