<div class="contenido" >
  <h1>Orden: {{orden.id}}</h1>

  <form [formGroup] ="ordenForm"  (ngSubmit)="Submit()">
    <div [hidden]="!this.edit" class="admin-panel">
        <mat-accordion color="accent"  >
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
              Admin Panel
              </mat-panel-title>
              <mat-panel-description>
                Este panel no lo ve el cliente
              </mat-panel-description>


            </mat-expansion-panel-header>
            <div class="panel-content">
              <div class="grupo">

                  <!-- Autorizada -->
                  <mat-checkbox
                  class="mr-2"
                  [formControl]="ordenForm.controls.autorizada"
                > Autorizada
                </mat-checkbox>
                <!-- Id -->
                <div class="campo">
                  <mat-form-field class="control">
                    <mat-label>Orden Id</mat-label>
                    <input
                    matInput
                    type="number"
                    [formControl]="ordenForm.controls.id"
                    >
                    <mat-error *ngIf="ordenForm.controls.id.errors">
                      <span>Campo obligatorio</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <!-- Comprobante -->
                <div class="campo">
                  <mat-form-field class="control">
                    <mat-label>Comprobante</mat-label>
                    <input
                    matInput
                    type="number"
                    [formControl]="ordenForm.controls.comprobanteId"
                    >
                  </mat-form-field>
                </div>


                  <!-- Usuario Autorizada -->
                  <div class="campo">
                    <mat-form-field class="control">
                      <mat-label>Usuario Autorizada</mat-label>
                      <input
                      matInput
                      type="text"
                      [formControl]="ordenForm.controls.usuarioAutorizo"
                      >

                    </mat-form-field>
                  </div>

                  <!-- Estado -->
                  <mat-form-field appearance="standard" style="width: 80%;">
                    <mat-label>Estado</mat-label>
                    <mat-select [formControl]="ordenForm.controls.estadoOrden">
                      <mat-option *ngFor="let estado of estados" [value]="estado.value">
                        {{estado.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="ordenForm.controls.estadoOrden.invalid">
                      <span>Campo obligatorio</span>
                    </mat-error>
                  </mat-form-field>
                  <!-- FechaCreacion -->
                <div class="campo" style="width: 80%;">
                  <mat-form-field  class="control" appearance="standard">
                    <mat-label>Fecha Creacion</mat-label>
                    <input
                      autocomplete="off"
                      matInput
                      [matDatepicker]="fcre"
                      placeholder="Fecha Creacion"
                      [formControl]="ordenForm.controls.fechaCreacion"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="fcre"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #fcre></mat-datepicker>
                  </mat-form-field>
                </div>




              </div>
              <div class="grupo"  style="display: none;" >
                <h3>Resumen Orden</h3>
                <!-- Monto -->
                <div class="campo">
                  <mat-form-field class="control" appearance="outline">
                    <mat-label>Subtotal</mat-label>
                    <input
                    readonly
                    matInput
                    type="number"
                    [formControl]="ordenForm.controls.monto"
                    >
                    <mat-error *ngIf="ordenForm.controls.monto.errors">
                      <span>Campo obligatorio</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                  <!-- Precio Delivery -->
                  <div class="campo">
                  <mat-form-field class="control" readonly appearance="outline">
                    <mat-label>Precio Delivery</mat-label>
                    <input
                    readonly
                    matInput
                    type="number"
                    [formControl]="ordenForm.controls.precioDelivery"
                    >
                    <mat-error *ngIf="ordenForm.controls.precioDelivery.errors">
                      <span>Campo obligatorio</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                  <!-- Monto Total -->
                  <div class="campo">
                    <mat-form-field class="control" appearance="outline">
                      <mat-label>Total</mat-label>
                      <input
                      readonly
                      matInput
                      type="number"
                      [formControl]="ordenForm.controls.montoTotal"
                      >
                      <mat-error *ngIf="ordenForm.controls.montoTotal.errors">
                        <span>Campo obligatorio</span>
                      </mat-error>
                    </mat-form-field>
                  </div>

              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
    </div>
    <!-- Metodo Entrega -->
  <div class="grupo">
    <h3>Método de Entrega <p *ngIf="ordenForm.controls.metodoEntrega.invalid" style="color: red; display: inline;">*</p></h3>


      <mat-radio-group class="metodos-flex" [formControl]="ordenForm.controls.metodoEntrega" class="delivery_section">
        <div class="metodos-flex">
          <div class="metodo">
            <mat-radio-button  [value]="1" >
              <mat-icon class="icon-delivery">store</mat-icon> Pick Up
            </mat-radio-button>
          </div>
          <div class="metodo">
            <mat-radio-button  [value]="0">
              <mat-icon class="icon-delivery">two_wheeler</mat-icon> Delivery
            </mat-radio-button>
          </div>
        </div>
      </mat-radio-group >
          <mat-error  *ngIf="ordenForm.controls.metodoEntrega.invalid && ordenForm.dirty ">
            <span>Seleccionar opción</span>
          </mat-error>



  </div>



  <!-- Lugar Recogida -->
  <div class="grupo" *ngIf="ordenForm.controls.metodoEntrega.value === 1">
    <mat-icon>room</mat-icon>
    <h3>Punto de recogida</h3>
    <p>Calle Rafael Augusto Sánchez #110. Torre Carmen Ofelia II, Santo Domingo, D.N.</p>
  </div>


    <!-- Grupo  Direccion Envio-->

  <div class="grupo" *ngIf="ordenForm.controls.metodoEntrega.value === 0" >
    <h3>Informacion dirección</h3>


      <!-- Ciudad -->
      <mat-form-field disabled appearance="standard" style="width: 80%; display: none;">
        <mat-label> Ciudad</mat-label>
        <input matInput  [formControl]="ordenForm.controls.ciudad"/>
      </mat-form-field>
    <!-- Zona -->
    <div class="campo">

        <mat-form-field appearance="outline" class="control" >
          <mat-label>Sector</mat-label>
          <mat-select [formControl]="ordenForm.controls.zona">
            <mat-option *ngFor="let sector of sectores" [value]="sector.id">
              {{sector.descripcion}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="ordenForm.controls.estadoOrden.invalid">
            <span>Campo obligatorio</span>
          </mat-error>
        </mat-form-field>
      <!-- <mat-form-field class="control form-field" appearance="outline">
        <mat-label> Zona </mat-label>
        <input
          (selectedValueChange)="SetPrecioDelivery()"
          matInput [formControl]="ordenForm.controls.zona"
          type="text"
          [matAutocomplete]="auto" />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"  >
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.id">
            {{option.descripcion}}
          </mat-option>
        </mat-autocomplete>
        <mat-error
          *ngIf="ordenForm.controls.zona && ordenForm.controls.zona.invalid"
        >
          <span *ngIf="ordenForm.controls.zona.errors.required"
            >This field is mandatory.</span
          >
        </mat-error>
      </mat-form-field> -->
    </div>
    <!-- Direccion 1 -->
    <div class="campo">
      <mat-form-field class="control form-field" appearance="outline">
        <mat-label> Direccion 1 </mat-label>
        <input matInput [formControl]="ordenForm.controls.direccion1"/>
        <mat-error
          *ngIf="ordenForm.controls.address && ordenForm.controls.direccion1.invalid"
        >
          <span *ngIf="ordenForm.controls.direccion1.errors.required"
            >This field is mandatory.</span
          >
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Direccion2 -->
    <div class="campo">
      <mat-form-field class="control form-field" appearance="outline">
        <mat-label> Direccion 2 </mat-label>
        <input matInput [formControl]="ordenForm.controls.direccion2"/>
        <mat-error
          *ngIf="ordenForm.controls.direccion2 && ordenForm.controls.direccion2.invalid"
        >
          <span *ngIf="ordenForm.controls.direccion2.errors.required"
            >This field is mandatory.</span
          >
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <!-- Grupo Fecha -->
  <div class="grupo">
    <h3>Fechas</h3>
    <small>Cuando quieres tu orden?</small>

    <!-- Fecha Requerida -->
    <div class="campo">
      <mat-form-field  appearance="outline" class="control">
        <mat-label>Fecha Requerida</mat-label>
        <input
          autocomplete="off"
          matInput
          [matDatepicker]="freq"
          placeholder="Fecha Requerida"
          [formControl]="ordenForm.controls.fechaRequerida"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="freq"
        ></mat-datepicker-toggle>
        <mat-datepicker #freq></mat-datepicker>
      </mat-form-field>
    </div>
    <!-- Horario de Entrega -->
    <div class="campo">
      <mat-form-field appearance="outline" class="control">
        <mat-label>Horario Entrega</mat-label>
        <mat-select [formControl]="ordenForm.controls.horarioEntregaId">
          <mat-option *ngFor="let horario of horariosEntrega" [value]="horario.id">{{horario.descripcion}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div>
  <div class="grupo">
    <h3>Información Contacto</h3>

    <!-- Nombre -->
    <div class="campo">
      <mat-form-field class="control" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input
        required
        matInput
        type="text"
        [formControl]="ordenForm.controls.nombreCliente"
        >
        <mat-error *ngIf="ordenForm.controls.nombreCliente.errors">
          <span>Campo obligatorio</span>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Telefono -->
    <div class="campo" >
      <mat-form-field class="control" appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input
        required
        matInput
        type="tel"
        [formControl]="ordenForm.controls.phoneNumber"
        >
        <mat-error *ngIf="ordenForm.controls.phoneNumber.errors">
          <span *ngIf="ordenForm.controls.phoneNumber.errors.required">Inserte un número de télefono</span>
          <span *ngIf="ordenForm.controls.phoneNumber.errors.minlength">Insertar un número de télefono válido</span>
          <span *ngIf="ordenForm.controls.phoneNumber.errors.pattern">Solo inserte números ( Ej. 8295550000)</span>
        </mat-error>
      </mat-form-field>
    </div>
    <!-- Email -->
    <div class="campo">
      <mat-form-field class="control" appearance="outline">
        <mat-label>Email</mat-label>
        <input
        matInput
        type="email"
        [formControl]="ordenForm.controls.email"
        >
        <mat-error *ngIf="ordenForm.controls.email.errors">
          <span>Inserte un email válido</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <!-- Metodo de Pago -->
  <div class="grupo">
    <div class="campo">
      <div style="font-size: 30px; display: block; justify-content: center; display: flex; margin: 10px;">
        <mat-icon  style="font-size: 30px;" >account_balance</mat-icon>
      </div>
      <!-- Selector Comprobante -->
      <div *ngIf="ordenForm.controls.comprobanteId.value === null">
        <h3>Método de Pago <small>( Solo aceptamos transferencias )</small></h3>
        <p>Banco Popular Cuenta No. 84816262626</p>
        <button

        (click)="attachFile.click()"
        class="control"
        mat-stroked-button
        type="button"> <mat-icon>attach_file</mat-icon> Adjuntar Comprobante</button>
        <div style="display: none;">
          <input #attachFile (change)="SetComprobante($event)" class="ng-hide" id="input-file-id" multiple type="file" placeholder="Adjuntar transferencia" />
          <label for="input-file-id" placeholder="Choose" class="md-button md-raised md-primary">Choose Files</label>
        </div>

      </div>
      <!-- Comprobante Cargado -->
      <button
        *ngIf="ordenForm.controls.comprobanteId.value > 0"
        mat-stroked-button
        class="control"
        type="button"
        (click)="DownladComprobante()"
        >

        <mat-icon>get_app</mat-icon>

        Descargar Comprobante</button>

    </div>
  </div>
  <mat-card >
    <div class="gridMontos">
      <div class="gridItem">
        <p>Subtotal<small> ( {{cartService.ItemsInCart()}} productos )</small>:</p>
      </div>
      <div class="gridItem number" >
        <p> {{this.ordenForm.controls.monto.value | currency}}</p>
      </div>
      <div class="gridItem ">
        Delivery:
      </div>
      <div class="gridItem number">
        {{this.ordenForm.controls.precioDelivery.value | currency}}
      </div>
      <div class="gridItem ">
        Total: RD
      </div>
      <div class="gridItem number" style="border-top: lightgray 1px solid;">
        <strong>{{this.ordenForm.controls.montoTotal.value | currency}}</strong>
      </div>

    </div>


    <button class="control" mat-raised-button color="accent" type="submit">Proceder</button>

  </mat-card>
  </form>
</div>
