<div class="row">
  <div class="col">
    <img [src]="productoOrden.productoNavigation.imgUrl">
  </div>
  <div class="col">
    <h4 class="descripcion">{{productoOrden.productoNavigation.descripcion}}</h4>
    <h5 class="cantidad">
      {{productoOrden.cantidad}}
       <span *ngIf="productoOrden.cantidad === 1">unidad</span>
       <span *ngIf="productoOrden.cantidad > 1">unidades</span>
      </h5>
    <h4 class="precio">RD$  {{productoOrden.precio}} / und</h4>
  </div>
  <div class="col">
    <h4> RD$ {{productoOrden.subtotal}}</h4>
  </div>
</div>
