@import '../../../variables';

.container {
  height: 100vh;
}
.tableContainer {
  width: 100%;
}
table {
  width: 100%;
  margin: 10px;
}

.tableOrdenes {
  width: 100%;
  margin: 10px;
}

.chip {
  display: inline-block;
  padding: 0 20px;
  height: 35px;
  font-size: 16px;
  line-height: 40px;
  border-radius: 25px;
  color: white;

}
.pendiente {
  background-color: salmon;

}
.proceso {
  background-color: orange
}
.listo {
  background-color: #8fa382;
}
.entregado {
  background-color: lightgrey;
}

.delete-btn {
  font-size: small;
  color: lightgrey;
  &:hover {
    color: $color-accent;
    cursor: pointer;
  }
}

