@import '../../../variables';

.container {
  height: 100vh;
}
.tableContainer {
  width: 100%;
}
table {
  width: 100%;

}

.tableOrdenes {
  width: 100%;
  margin: 10px;
}

.chip {
  display: inline-block;
  padding: 0px 15px;
  padding-bottom: 5px;
  vertical-align: middle;
  height: 30px;
  font-size: 14px;
  line-height: 40px;
  border-radius: 25px;
  color: white;

}
.pendiente {
  background-color: salmon;

}
.proceso {
  background-color: orange
}
.listo {
  background-color: #8fa382;
  // color: #8fa382;
}
.entregado {
  background-color: #8fa382;
  // color: #8fa382;
}

.delete-btn {
  font-size: x-large;
  color: grey;
  &:hover {
    color: $color-accent;
    cursor: pointer;
  }
}

