@import '../../variables';

.auth-actions {

  @media (max-width:$breakpoint-mobile){
    display: none;
  }
}
.sidenav-container {
  height: 100%;

}
.logo {
  height: 60px;
  @media (max-width:$breakpoint-mobile){
    height: 40px;
  }
}
.sidenav {
  width: 200px;
  // background-color: #8fa382;

}
.brand {
  font-style: italic;
  font-family: fantasy;
}
.sidenav .mat-toolbar {
  background: inherit;
  // background-color: #8fa382;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.toolbar-item {
  display: flex;
  justify-content: center;
  align-items: center;

}

mat-icon{
  margin-right: 10px;
}
.userIcon {
  display: flex;
  flex-direction: column;
  align-items: center ;
}
.icon {
font-size: xx-large;
}
.icon-text {
  font-size: 1.5rem;
  margin-top: 10px;
}
.logout {
  text-decoration: underline;

  &:hover{
    color: pink;
    cursor: pointer;

  }
  // @media (max-width:$breakpoint-mobile){
  //   display: none;
  // }
}

.content {
  overflow: scroll;
}
footer {
  background-color: $color-primary;
  padding-bottom: 75px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 75px;

}
.footer__menu{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  p{
    text-transform: uppercase;
    text-align: center;
    // font-size: 1.2rem;
  }
}

.brand {
  display: flex;

  font-family: Arial, Helvetica, sans-serif;
  // font-size: 1.2rem;
}
