.sidenav-container {
  height: 100%;

}
.logo {
  height: 50px;
}
.sidenav {
  width: 200px;
  // background-color: #8fa382;

}
.brand {
  font-style: italic;
  font-family: fantasy;
}
.sidenav .mat-toolbar {
  background: inherit;
  // background-color: #8fa382;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-icon{
  margin-right: 10px;
}
