<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <div *ngIf="this.authService.userData" class="userIcon">
      <mat-icon class="icon" color="primary" >account_circle</mat-icon>
      <div class="icon-text">{{authService.userData.userName}}</div>
      <small class="logout" (click)="authService.logOut()">logout</small>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="carrito" color="primary"><mat-icon color="primary">shopping_cart</mat-icon>Cart</a>
      <a mat-list-item routerLink="/" color="primary"><mat-icon color="primary">store</mat-icon>Tienda</a>
      <div class="ordenes-zone" *ngIf="this.authService.userIsInRole('OrdenesEdicion')">
        <a mat-list-item routerLink="/ordenes" color="primary" ><mat-icon color="primary">list</mat-icon> Ordenes</a>
        <a mat-list-item routerLink="/productos-pendientes" color="primary"><mat-icon color="primary">group_work</mat-icon> Productos Pendientes</a>
      </div>
      <div class="admin" *ngIf="this.authService.AdminUser()">
        <a mat-list-item routerLink="/productos" color="primary"><mat-icon color="primary">list</mat-icon> Productos</a>
        <a mat-list-item routerLink="/images" color="primary"><mat-icon color="primary">insert_photo</mat-icon> Images</a>

      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="toolbar-item">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <img class="logo" src="https://sweetandketo.blob.core.windows.net/productos/BrandLogo.jpg">
        <!-- <span class="brand" light>Sweet & Keto </span> -->

      </div>
      <span class="spacer"></span>
      <div class="toolbar-item">

        <button mat-icon-button routerLink="/carrito">
          <mat-icon [matBadge]="cartService.ItemsInCart()" matBadgeColor="accent">shopping_cart</mat-icon>
        </button>
        <button *ngIf="!this.authService.userData" mat-button routerLink="/login">
          <mat-icon >account_circle</mat-icon> Login
        </button>
        <button *ngIf="!this.authService.userData" color="accent" mat-raised-button routerLink="/register">
           Register
        </button>
        <button mat-button *ngIf="this.authService.userData" class="logout" (click)="authService.logOut()">
          <mat-icon>account_circle</mat-icon> logout</button>


      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
