<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <div *ngIf="this.authService.userData" class="userIcon">
      <mat-icon class="icon" color="primary" >account_circle</mat-icon>
      <div class="icon-text">{{authService.userData.userName}}</div>
      <small class="logout" (click)="authService.logOut()">logout</small>
    </div>
    <mat-nav-list >
      <div *ngIf="!this.authService.userData">
        <a (click)="drawer.close()" mat-list-item routerLink="/login" color="primary"><mat-icon color="primary">account_circle</mat-icon>Login</a>

      </div>
      <a (click)="drawer.close()" mat-list-item routerLink="carrito" color="primary"><mat-icon color="primary">shopping_cart</mat-icon>Cart</a>
      <a (click)="drawer.close()" mat-list-item routerLink="/tienda" color="primary"><mat-icon color="primary">store</mat-icon>Tienda</a>
      <div class="ordenes-zone" *ngIf="this.authService.userIsInRole('OrdenesEdicion')">
        <a (click)="drawer.close()"  mat-list-item routerLink="/ordenes" color="primary" ><mat-icon color="primary">list</mat-icon> Ordenes</a>
        <a  (click)="drawer.close()" mat-list-item routerLink="/productos-pendientes" color="primary"><mat-icon color="primary">group_work</mat-icon> Produccion</a>
      </div>
      <div class="admin" *ngIf="this.authService.AdminUser()">
        <a (click)="drawer.close()"  mat-list-item routerLink="/productos" color="primary"><mat-icon color="primary">list</mat-icon> Productos</a>
        <a (click)="drawer.close()" mat-list-item routerLink="/images" color="primary"><mat-icon color="primary">insert_photo</mat-icon> Images</a>
        <a (click)="drawer.close()" mat-list-item routerLink="/bi" color="primary"><mat-icon color="primary">show_chart</mat-icon> Bi</a>

      </div>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <mat-toolbar >
      <div class="toolbar-item">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <!-- *ngIf="isHandset$ | async" -->

        <img routerLink="/" class="logo" src="../../assets/LogoLargoTransparencia.png">
        <!-- <span class="brand" light>Sweet & Keto </span> -->

      </div>
      <span class="spacer"></span>
      <div class="toolbar-item">

        <button mat-icon-button routerLink="/carrito" color="primary">
          <mat-icon [matBadge]="cartService.ItemsInCart()" fontSet="material-icons-outlined"  matBadgeColor="accent">shopping_cart</mat-icon>
        </button>
        <div class="auth-actions">
          <button *ngIf="!this.authService.userData" mat-button routerLink="/login">
            <mat-icon >account_circle</mat-icon> Login
          </button>
          <button *ngIf="!this.authService.userData" color="accent" mat-raised-button routerLink="/register">
             Register
          </button>
          <button mat-button *ngIf="this.authService.userData" class="logout" (click)="authService.logOut()">
            <mat-icon>account_circle</mat-icon> logout</button>

        </div>


      </div>
    </mat-toolbar>
    <!-- Add Content Here -->



      <router-outlet></router-outlet>

      <footer>
        <div class="footer__menu">
          <!-- <p>About Us</p>
          <p>Our Brands</p>
          <p>Delivery policies</p> -->
          <p>Contact Us</p>
          <p>Social Networks</p>
          <mat-icon>facebook</mat-icon>

        </div>
        <div class="brand">
          <mat-icon>copyright</mat-icon>
          <p> 2020 Sweet & Keto by LCMC</p>

        </div>
      </footer>
      <app-mobile-bottom-nav [hidden]="(isHandset$ | async) === false"></app-mobile-bottom-nav>

  </mat-sidenav-content>
</mat-sidenav-container>
