.flex-row {
  display: flex;
  flex-direction: row;
  &.start {
    justify-content: start;
  }
  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: right;
  }
  &.v-bottom {
    align-items: flex-end;
  }
  &.v-center {
    align-items: center;
  }

}

.flex-col {
  display: flex;
  flex-direction: column;
  &.start {
    justify-content: start;
  }
  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: right;
  }
  &.v-bottom {
    align-items: flex-end;
  }
  &.v-center {
    align-items: center;
  }

}
