/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import 'layouts';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.spacer {
  flex: 1 1 auto;
}
.success-snackbar {
  background-color: $color-succes;
}
.error-snackbar {
  background-color: salmon;
}
.warning-snackbar {
  background-color: yellow;
}
.info-snackbar {
  background-color: lightgrey;
}
